<div class="honeycomb-container">
    <svg viewBox="0 0 300 300" class="honeycomb-svg" role="region" aria-label="Letter grid of the day">
        @for (cell of cells(); track cell.id) {
        @let coords = getHexCoordinates(cell.position);

        <g class="hex-group" role="button" tabindex="0"
            [attr.aria-label]="cell.isCenter ? 'Central letter ' + cell.letter : 'Letter ' + cell.letter"
            (keydown)="onKeyDown($event, cell.letter)">
            <!-- Click added directly to the polygon -->
            <polygon points="0,-38 32.9,-19 32.9,19 0,38 -32.9,19 -32.9,-19"
                [attr.transform]="'translate(' + coords.x + ',' + coords.y + ')'" [class.hex-tile]="true"
                [class.is-center]="cell.isCenter" (click)="onCellClick(cell.letter)" />

            <!-- Click added directly to the text -->
            <text [attr.x]="coords.x" [attr.y]="coords.y" class="hex-text" [class.is-center-text]="cell.isCenter"
                (click)="onCellClick(cell.letter)">
                {{ cell.letter }}
            </text>
        </g>
        }
    </svg>
</div>